body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  background-color: #1B50E4;
  font-family: "futura-pt-condensed";
  color: white;
  width: 100%;
  box-shadow: 5px 5px 5px 5px;
}

header img {
  float: right;
  width: 100px;
  height: 100px;
  padding: 3px;
}

@font-face {
  font-family: "futura-pt-condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://use.typekit.net/af/af8659/00000000000000000001203d/27/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/af8659/00000000000000000001203d/27/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/af8659/00000000000000000001203d/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
}

#sidebar {
  background-color: #7696EF;
  box-shadow: 5px 5px 5px;
}

#body {
  height: 100%;
}

#body h1 {
  border-bottom: solid;
  font-family: "futura-pt-condensed";
}

#body a {
  color: black;
  font-weight: bold;
}

#footer {
  width: 100%;
  background-color: #103089;
  color: white;
  margin-bottom: 0px;
}

#sidebar h3 {
  margin-top: 0px;
}

header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

#footer p {
  margin-bottom: 0px;
}

#footer li {
  display: inline;
}

.textbox {
  border-left: solid;
  border-color: #0073e6;
  background-color: #e6f2ff;
  border-width: thick;
  padding-left: 5px;
  box-shadow: 5px 5px 5px;
}

.mouse {
  cursor:url(./images/i-always-knew-he-was-a-lizard.jpg), auto;
}

#socialicons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-left: solid;
  border-color: #0073e6;
  background-color: #e6f2ff;
  border-width: thick;
  padding-left: 5px;
  box-shadow: 5px 5px 5px;
}

